<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.f8888138.Mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.f8888138.view.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userIP" property="userip" jdbcType="VARCHAR" />
    <result column="BlogId" property="blogid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="Commenttime" property="commenttime" jdbcType="TIMESTAMP" />
    <result column="Commentstatus" property="commentstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userIP, BlogId, content, Commenttime, Commentstatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.f8888138.view.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.f8888138.view.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.f8888138.view.Comment" >
    insert into comment (id, userIP, BlogId, 
      content, Commenttime, Commentstatus
      )
    values (#{id,jdbcType=INTEGER}, #{userip,jdbcType=VARCHAR}, #{blogid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{commenttime,jdbcType=TIMESTAMP}, #{commentstatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.f8888138.view.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userip != null" >
        userIP,
      </if>
      <if test="blogid != null" >
        BlogId,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="commenttime != null" >
        Commenttime,
      </if>
      <if test="commentstatus != null" >
        Commentstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userip != null" >
        #{userip,jdbcType=VARCHAR},
      </if>
      <if test="blogid != null" >
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null" >
        #{commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentstatus != null" >
        #{commentstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.f8888138.view.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userip != null" >
        userIP = #{record.userip,jdbcType=VARCHAR},
      </if>
      <if test="record.blogid != null" >
        BlogId = #{record.blogid,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.commenttime != null" >
        Commenttime = #{record.commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commentstatus != null" >
        Commentstatus = #{record.commentstatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set id = #{record.id,jdbcType=INTEGER},
      userIP = #{record.userip,jdbcType=VARCHAR},
      BlogId = #{record.blogid,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      Commenttime = #{record.commenttime,jdbcType=TIMESTAMP},
      Commentstatus = #{record.commentstatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.f8888138.view.Comment" >
    update comment
    <set >
      <if test="userip != null" >
        userIP = #{userip,jdbcType=VARCHAR},
      </if>
      <if test="blogid != null" >
        BlogId = #{blogid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null" >
        Commenttime = #{commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentstatus != null" >
        Commentstatus = #{commentstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.f8888138.view.Comment" >
    update comment
    set userIP = #{userip,jdbcType=VARCHAR},
      BlogId = #{blogid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      Commenttime = #{commenttime,jdbcType=TIMESTAMP},
      Commentstatus = #{commentstatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>